<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "SignIn", new_user_session_path %></li>
      <li><%= link_to "SingOut", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "SignUp", new_user_registration_path %></li>
      <li><%= link_to "NewPost", new_article_path %></li>
    </ul>
  </div>
</nav> 
 
 
 <div class="row">
      <%@articles.each do |article| %>
        <div class="col s12 m6">
          <div class="card white darken-1">
            <div class="card-content black-text">

              <span class="card-title"><%= article.id %></span>
              <p><%= article.text %></p>
            </div>
            <div class="card-action">
              <%= link_to "SHOW", article_path(article) %>
              <%= link_to "EDIT", edit_article_path(article) %>
              <%= link_to "DESTROY", article_path(article) , method: :delete %>
              
           

            </div>
          </div>
        </div>
      <% end %>
      </div>