<div class="row">
  <%@articles.each do |article| %>
    <div class="col s12 m6">
      <div class="card white darken-1">
    
        <div class="card-content black-text">
          <span class="card-title">記事ID.<%= article.id %></span>
          <p><%= simple_format(article.text) %></p>
          <p>(投稿者ID.<%= article.user_id %>)</p>
        </div>
        
        <div class="card-action">
          <%= link_to "SHOW", article_path(article) %>
          <%if user_signed_in? %>
            <% if article.user_id == current_user.id %>
              <%= link_to "EDIT", edit_article_path(article) %>
              <%= link_to "DESTROY", article_path(article) , method: :delete %>
            <%end%>
          <%end%>
        </div>
    
      </div>
    </div>
  <% end %>
</div>